{% extends 'base.html' %}

{% block content %}
  <h1>Supprimer l'entrée</h1>
  <p>Voulez-vous vraiment supprimer cette entrée ?</p>
  <p>ID : {{ entry.id }}</p>
  <p>Nom : {{ entry.nom }}</p>
  <p>Description : {{ entry.description }}</p>
  <p>Image : {{ entry.image }}</p>
  <p>Catégorie : {{ entry.categorie }}</p>
  <p>Prix : {{ entry.prix }} €</p>
  <form method="POST">
    <input type="submit" value="Oui">
    <a href="{{ url_for('details', entry_id=entry.id) }}">Non</a>
  </form>
{% endblock %}
